@model SpecialActivity

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(sa => sa.ActivityName)</h1>

<div>
    <h4>Details</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(sa => sa.ActivityName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(sa => sa.ActivityName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(sa => sa.DateAdded)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(sa => sa.DateAdded)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(sa => sa.DateFinish)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(sa => sa.DateFinish)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(sa => sa.TypeOfActivity)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(sa => sa.TypeOfActivity)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(sa => sa.ActivityPriority)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(sa => sa.ActivityPriority)
        </dd>
    </dl>
</div>

<div class="text-white">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="text-yellow">Edit</a> |
    <a asp-action="Index" class="text-yellow">Back to List</a>
</div>