@model ActivityOrganizer.Models.SpecialActivity

@{
    ViewData["Title"] = "Details";
}

    <h1>@Html.DisplayFor(model => model.ActivityName)</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DateAdded)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DateAdded)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DateFinish)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DateFinish)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.TypeOfActivity)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.TypeOfActivity)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.ActivityPriority)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.ActivityPriority)
        </dd>
    </dl>
</div>


<div class="text-white">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="text-yellow">Edit</a> |
    <a asp-action="Index" class="text-yellow">Back to List</a>
</div>